.custom-navbar {
  background-color: #dae7fa(247, 205, 241) !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #3a4c5d !important; 
  font-weight: 600;
}

.custom-navbar .nav-link:hover {
  color: rgb(105, 165, 255) !important; 
}